<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.12.4.min.js"><\/script>')</script>

<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script src="{{ site.url }}/assets/js/site.js"></script>

{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>

{% endif %}
